@import '../colors.scss';
@import '../spaces.scss';
@import '../typography.scss';


.about{

    .title{
        font-size: 18px;
        @media screen and (min-width: 1280px) {
            font-size: 24px;
        }
    }
}

.aboutImageContainer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    .aboutImage{
        position: absolute;
        width: auto;
        height: 100%;
        @media screen and (min-width: 1280px) {
            right: 0;
        }
    }
}