@import '../colors.scss';
@import '../spaces.scss';
@import '../typography.scss';

.about{
    @media screen and (min-width: 768px){
        margin: $spacer $spacer;
    }

    @media screen and (min-width: 960px){
        margin: $spacer $spacer*2;
    }

    @media screen and (min-width: 1280px){
        margin: $spacer $spacer*3;
    }

    p{
        padding: 0 0 $spacer 0;
        font-size: 18px;
        a{
            font-size: 18px;
            color: $color__accent;
        }
    }

    .aboutImportant{
        font-size: 18px;
        @media screen and (min-width: 768px){
            font-size: 24px;
        }
    
        @media screen and (min-width: 960px){
            font-size: 28px;
        }
    
        @media screen and (min-width: 1280px){
            font-size: 32px;
        }

        a{
            color: $color__accent;
            font-size: 18px;
            @media screen and (min-width: 768px){
                font-size: 24px;
            }
        
            @media screen and (min-width: 960px){
                font-size: 28px;
            }
        
            @media screen and (min-width: 1280px){
                font-size: 32px;
            }
        }
    }
}