@import '../colors.scss';
@import '../spaces.scss';
@import '../typography.scss';

.contacts{
    padding: $spacer 0;
    margin: $spacer 0;
    @media screen and (min-width: 768px) {
        padding: $spacer*3 0;
        margin: $spacer*3 0;
    }
    position: relative;

    .sectionDescription{

        @media screen and (min-width: 960px){
            width: 75%;
        }

        @media screen and (min-width: 1280px){
            width: 50%;
        }
    }

    .contactsList{
        margin: $spacer*2 0;

        @media screen and (min-width: 960px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $spacer*2;
        }

        ul{
            li{
                display: inline-block;

                a{
                    margin-right: $spacer;
                }
            }
        }
    }

    .profileImageContainer{
        position: absolute;
        width: 192px;
        height: 256px;
        right: 0;
        transform: translateY(-100%);
        overflow: hidden;
        z-index: -1;

        @media screen and (min-width: 960px) {
            transform: translateY(-80%);
            width: 240px;
            height: 320px;
        }
    
        .profileImage{
            position: absolute;
            height: auto;
            width: 100%;
            opacity: .5;
        }
    }

}