@import '../colors.scss';
@import '../spaces.scss';
@import '../typography.scss';


.experiences{
    margin: $spacer*3 0;
    border-bottom: 1px solid;
    border-color:rgba(255,255,255,0.1);
    
    @media screen and (min-width: 960px) {
        margin: $spacer*5 0;
    }

    li{
        border-top: 1px solid;
        border-color:rgba(255,255,255,0.1);
        padding: $spacer 0;

        .singleExperience{
            display: inline-block;
        }

        .singleExperiencePlace{
            display: none;
        }

        .singleExperienceDates{
            display: inline-block;
            font-size: 12px;
            opacity: .5;
            margin: 0 $spacer;
            &:after{
                content: '';
                display: block;
                position: relative;
                width: $spacer*2;
                height: 1px;
                background-color: rgba(255,255,255,.1);
                float: left;
                margin: .6em;
            }
        }

        &:hover{
            .singleExperience{
                display: none;
            }
            .singleExperiencePlace{
                display: inline-block;
            }
            .singleExperienceDates{
                display: inline-block;
            }
        }
    }
}