@import '../colors.scss';
@import '../spaces.scss';
@import '../typography.scss';


.experiences{
    margin: $spacer*3 0;
    @media screen and (min-width: 768px){
        margin: $spacer*3 $spacer;
    }

    @media screen and (min-width: 960px){
        margin: $spacer*3 $spacer*2;
    }

    @media screen and (min-width: 1280px){
        margin: $spacer*3 $spacer*3;
    }

    .list{
        //border-bottom: 1px solid;
        //border-color:rgba(255,255,255,0.1);
        li{
            border-top: 1px solid;
            border-color:rgba(255,255,255,0.1);
            padding: $spacer 0;
    
            .singleExperience{
                display: inline-block;
                font-size: 16px;
                @media screen and (min-width: 768px){
                    font-size: 18px;
                }
            
                @media screen and (min-width: 960px){
                    font-size: 20px;
                }
            
                @media screen and (min-width: 1280px){
                    font-size: 24px;
                }
            }
    
            .singleExperiencePlace{
                display: none;
                opacity: .5;
                font-size: 16px;
            }
    
            .singleExperienceDates{
                display: inline-block;
                font-size: 12px;
                opacity: .5;
                margin: 0 $spacer;
                &:after{
                    content: '';
                    display: block;
                    position: relative;
                    width: $spacer*2;
                    height: 1px;
                    background-color: rgba(255,255,255,.1);
                    float: left;
                    margin: .6em;
                }
            }
    
            &:hover{
                .singleExperience{
                    display: none;
                }
                .singleExperiencePlace{
                    display: inline-block;
                }
                .singleExperienceCity{
                    display: inline-block;
                }
                .singleExperienceDates{
                    display: inline-block;
                }
            }
        }
    }
}