@import '../colors.scss';
@import '../spaces.scss';
@import '../typography.scss';

footer{
    margin: $spacer*2 0;
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacer*3;
    }

    .siteInfo{
        margin: $spacer 0;
        font-size: 14px;
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: right;
        }
        a{
            font-size: 14px;
        }
    }
}