@import '../colors.scss';
@import '../spaces.scss';
@import '../typography.scss';

.location{
    font-size: 14px;
    padding: $spacer $spacer $spacer 0;
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }

    .locationItem{
        display: inline-block;
        font-size: 14px;
        color: $color__accent;
        animation: pulse 1s ease-in-out infinite alternate-reverse;

        @keyframes pulse {
            0% {
                opacity: .3;
            }
            100% {
                opacity: 1;
            }
        }
    }
}