@import '../colors.scss';
@import '../spaces.scss';
@import '../typography.scss';

.projects{
    margin: $spacer*3 0;
    //border-bottom: 1px solid;
    border-color:rgba(255,255,255,0.1);

    @media screen and (min-width: 768px){
        margin: $spacer*3 $spacer;
    }

    @media screen and (min-width: 960px){
        margin: $spacer*3 $spacer*2;
    }

    @media screen and (min-width: 1280px){
        margin: $spacer*3 $spacer*3;
    }
    
    .singleItem{
        position: relative;
        border-top: 1px solid;
        border-color:rgba(255,255,255,0.1);
        transition: all .5s ease-in-out .1s;
    
        h4{
            padding: $spacer*1.5 0;
            transition: all .5s ease-out;
            display: inline-block;

            &:after{
                content: '';
                display: block;
                position: relative;
                width: 0;
                height: 1px;
                background-color: rgba(255,255,255,.1);
                float: left;
                transition: all .5s ease-in-out .2s;
                margin: .6em 0 0 0;
            }

            .projectDate{
                //display: block;
                font-size: 12px;
                color: $color__accent;
                padding: $spacer;
            }
        }

        .projectCategory{
            display: none;
            @media screen and (min-width: 768px) {
                display: inherit;
                font-size: 12px;
                margin: $spacer;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    
        .projectLink{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }
    
        @media screen and (min-width: 1280px){
            &:hover{
                border-color:rgba(255,255,255,0.5);

                h4{

                    &:after{
                        width: $spacer*2;
                        margin: .6em 1em 0 0;
                    }
                }
    
                /*&>.projectImage{
                    opacity: 1;
                    //transform: translate(-50%, -50%);
                }*/
            }
        }
    }
}