$font__primary: 'Karla', sans-serif;

*{
    font-family: $font__primary;

    ::selection {
        color: $color__accent;
        background-color: rgba(255, 255, 255, 0);
    }

    h1, h2{
        font-size: 24px;
        font-weight: 400;
        @media screen and (min-width: 768px){
            font-size: 28px;
        }
        @media screen and (min-width: 960px){
            font-size: 36px;
        }
        @media screen and (min-width: 1280px){
            font-size: 48px;
        }
    }

    h1{
        color: $color__accent;
    }

    h4{
        font-weight: 400;
        font-size: 18px;
        @media screen and (min-width: 768px){
            font-size: 24px;
        }
        @media screen and (min-width: 960px){
            font-size: 28px;
        }
        @media screen and (min-width: 1280px){
            font-size: 32px;
        }
    }

    .sectionTitle{
        text-transform: uppercase;
        font-size: 12px;
        opacity: .5;
        letter-spacing: .1em;
        padding: $spacer 0;
    }

    .sectionDescription{
        font-size: 18px;
        font-weight: 400;
        @media screen and (min-width: 768px){
            font-size: 24px;
        }

        span{
            color: $color__accent;
        }
    }

    a{
        color: white;
        text-decoration: none;
        font-size: 14px;
        &:hover{
            color: $color__accent;
        }
        @media only screen and (min-width: 768px) {
            font-size: 16px;
        }
    }

    p{
        font-size: 14px;
        @media only screen and (min-width: 768px) {
            font-size: 16px;
        }
    }

    hr{
        height: 1px;
        opacity: .1;
    }

    ul{
        list-style: none;
    }

    .cta{
        margin: $spacer 0;
    }
}